<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\CustomerSubscriptionRepositoryInterface" type="Radarsofthouse\BillwerkPlusSubscription\Model\CustomerSubscriptionRepository"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\Data\CustomerSubscriptionInterface" type="Radarsofthouse\BillwerkPlusSubscription\Model\CustomerSubscription"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\Data\CustomerSubscriptionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\CustomerSubscriberRepositoryInterface" type="Radarsofthouse\BillwerkPlusSubscription\Model\CustomerSubscriberRepository"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\Data\CustomerSubscriberInterface" type="Radarsofthouse\BillwerkPlusSubscription\Model\CustomerSubscriber"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\Data\CustomerSubscriberSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\SessionRepositoryInterface" type="Radarsofthouse\BillwerkPlusSubscription\Model\SessionRepository"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\Data\SessionInterface" type="Radarsofthouse\BillwerkPlusSubscription\Model\Session"/>
    <preference for="Radarsofthouse\BillwerkPlusSubscription\Api\Data\SessionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magento\CheckoutAgreements\Model\AgreementsConfigProvider" type="Radarsofthouse\BillwerkPlusSubscription\Model\AgreementsConfigProvider"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customer_listing_data_source" xsi:type="string">Radarsofthouse\BillwerkPlusSubscription\Model\ResourceModel\Customer\Grid\Collection</item>s
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="billwerk_order_type" xsi:type="string">sales_order.billwerk_order_type</item>
                <item name="billwerk_sub_handle" xsi:type="string">sales_order.billwerk_sub_handle</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Radarsofthouse\BillwerkPlusSubscription\Logger\DebugHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Radarsofthouse\BillwerkPlusSubscription\Logger\Debug">
        <arguments>
            <argument name="name" xsi:type="string">Debug</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Radarsofthouse\BillwerkPlusSubscription\Logger\DebugHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Radarsofthouse\BillwerkPlusSubscription\Logger\InfoHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Radarsofthouse\BillwerkPlusSubscription\Logger\Info">
        <arguments>
            <argument name="name" xsi:type="string">Info</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Radarsofthouse\BillwerkPlusSubscription\Logger\InfoHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Radarsofthouse\BillwerkPlusSubscription\Logger\ErrorHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Radarsofthouse\BillwerkPlusSubscription\Logger\Error">
        <arguments>
            <argument name="name" xsi:type="string">Error</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Radarsofthouse\BillwerkPlusSubscription\Logger\ErrorHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Payment Method Facade configuration -->
    <virtualType name="BillwerkPlusSubscriptionFacade" type="Radarsofthouse\BillwerkPlusSubscription\Model\PaymentMethod">
        <arguments>
            <argument name="eventManager" xsi:type="object">\Magento\Framework\Event\ManagerInterface</argument>
            <argument name="valueHandlerPool" xsi:type="object">BillwerkPlusSubscriptionValueHandlerPool</argument>
            <argument name="paymentDataObjectFactory" xsi:type="object">Magento\Payment\Gateway\Data\PaymentDataObjectFactory</argument>
            <argument name="code" xsi:type="string">billwerkplus_subscription</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Radarsofthouse\BillwerkPlusSubscription\Block\Info</argument>
            <argument name="checkoutHelper" xsi:type="object">\Magento\Checkout\Helper\Data</argument>
            <argument name="cache" xsi:type="object">\Magento\Framework\App\CacheInterface</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="validatorPool" xsi:type="object">BillwerkPlusSubscriptionValidatorPool</argument>
        </arguments>
    </virtualType>


    <!-- Configuration reader -->
    <virtualType name="BillwerkPlusSubscriptionConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">billwerkplus_subscription</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="BillwerkPlusSubscriptionConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BillwerkPlusSubscriptionConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="BillwerkPlusSubscriptionValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BillwerkPlusSubscriptionConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Validators -->
    <virtualType name="BillwerkPlusSubscriptionCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">BillwerkPlusSubscriptionConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="BillwerkPlusSubscriptionValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">BillwerkPlusSubscriptionCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Plugins -->
    <type name="Magento\CheckoutAgreements\Block\Agreements">
        <plugin name="radarsofthouse_billwerkplussubscription_checkout_agreements_plugin" type="Radarsofthouse\BillwerkPlusSubscription\Plugin\CheckoutAgreements\Block\AgreementsPlugin" />
    </type>
    <type name="Magento\CheckoutAgreements\Model\AgreementsProvider">
        <plugin name="radarsofthouse_billwerkplussubscription_agreements_provider_plugin" type="Radarsofthouse\BillwerkPlusSubscription\Plugin\CheckoutAgreements\Model\AgreementsProviderPlugin" />
    </type>
    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin name="Radarsofthouse_BillwerkPlusSubscription_Plugin_Magento_SalesRule_Model_RulesApplier" type="Radarsofthouse\BillwerkPlusSubscription\Plugin\SalesRule\Model\RulesApplier" />
    </type>
    <type name="Magento\SalesRule\Model\Rule\Metadata\ValueProvider">
        <plugin name="Radarsofthouse_BillwerkPlusSubscription_Plugin_Magento_SalesRule_Model_Rule_Metadata_ValueProvider" type="Radarsofthouse\BillwerkPlusSubscription\Plugin\SalesRule\Model\Rule\Metadata\ValueProvider" sortOrder="10" disabled="false"/>
    </type>
</config>
