<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="Subscriptions by Frisbii" xsi:type="array">
                    <item name="class" xsi:type="string">Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\Subscription</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="testModeEnabledNoticeMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Radarsofthouse_BillwerkPlusSubscription::messages/testModeEnabledNoticeMessage.phtml</item>
                    </item>
                </item>
                <item name="testModeDisabledNoticeMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Radarsofthouse_BillwerkPlusSubscription::messages/testModeDisabledNoticeMessage.phtml</item>
                    </item>
                </item>
                <item name="liveKeyChangedNoticeMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Radarsofthouse_BillwerkPlusSubscription::messages/liveKeyChangedNoticeMessage.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\CatalogStaging\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="billwerk-option-all" xsi:type="array">
                    <item name="class" xsi:type="string">Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\All</item>
                    <item name="sortOrder" xsi:type="number">71</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="billwerk-option-all" xsi:type="array">
                    <item name="class" xsi:type="string">Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\All</item>
                    <item name="sortOrder" xsi:type="number">71</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>
    <type name="Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\All">
        <arguments>
            <argument name="pool" xsi:type="object">Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="billwerk-option-base" xsi:type="array">
                    <item name="class" xsi:type="string">Radarsofthouse\BillwerkPlusSubscription\Ui\DataProvider\Product\Form\Modifier\Addon</item>
                    <item name="sortOrder" xsi:type="number">72</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
